[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
bleach = "*"
djoser = "*"
mysqlclient = "*"
django-tailwind = "*"
django-browser-reload = "*"
django-cors-headers = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = {version = "*", extras = ["brotli"]}
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
